*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-left: 60px;
    padding-right: 60px;
}

header{
    top: 0;
    height: 80px;
    margin-top: 20px;
}

.btn{
    padding: 6px 20px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(177, 13, 103);
    color: white;
    border: none;
    outline: none;
}

.menu-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.page-links li{
    margin-right: 40px;
    font-size: 20px;
}

.hero-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    margin-bottom: 70px;
}

.me-info{
    width: 350px;
    align-self: center;
    
}

.me-info h4{
    font-size: 24px;
    margin-bottom: 14px;
}

.me-info h2{
    font-size: 40px;
    margin-bottom: 20px;
} 

.me-info span{
    color: rgb(189, 37, 125);
}
.me-info h5{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
}

.pic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-esther{
    width: 250px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 60vh;
    align-items: center;
    margin-bottom: 90px;
}
