/******* left landing ********/
.heading{
    padding-top: 20%;
    padding-left: 10%;
    width: 80%;
    margin: 0 auto;
    background: white;
}
/******* //left landing ********/

/******* right landing ********/
.mhesh-main img{
    width:30rem;
    height: 35rem;
}
.mheshimiwa{
    background-color: white;
    border-radius: 45%;
    position: absolute;
    top: 100px;
    left: 120px;
}
.circle{
    border-radius: 45%;
    position: absolute;
    top: 80px;
    left: 50px;
    border: thin solid black;
    width: 30rem;
    height: 35rem;
    z-index: -100;
}
   
.social-media{
    margin: 5px;
    background-color: white;
    border-radius: 30%;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 80px;
    left: 150px;
    border:thin solid cream;
}  
.social-media-wp{
    border:thin solid cream;
    margin: 5px;
    background-color: white;
    border-radius: 30%;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 250px;
    left: 20px;
}  
.side-b{
    background: linear-gradient(to right,
     white 40%, black 40% 60%);
     height: 100vh;
     z-index: -1000;
}
/******* //right landing ********/

/***** About ******/
.about-me .myself{
    width: 80%;
    margin: 0 auto;
}

.skills{
    height: 300px;
}

.skills p{
    margin-bottom: 15px;
}
.skill{
    height: 80px;
}

.skill .bar{
    width: 100%;
    background: #000;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.skill-bar{
    background-color: rgb(216, 62, 62);
    height: 20px;
    border-radius: 5px;
}
